*{
	margin: 0 auto;
	box-sizing: border-box;
	font-family: "Arial";
}

body {
	background-color: #FAF0E6;
}

/* Header Editing */

.header {
	width: 100%;
	text-align: center;
	border-bottom: 2.5px solid #FF6347;
	background-color: #FFF8DC;
}

#PageTitle {
	font-family: Monospace;
	color: #8B4513;
	font-size: 3.5em;
}

#PageDescription {
	color: #000080;
	font-size: 1.2em;
	
}

/* NAV MENU */

nav {
	margin-top: 10px;
	margin-bottom: 5px;
}

nav span {
	color: orangered;
	font-family: monospace;
	font-weight: bold;
	font-size: 18px;
	

}
nav a {
	text-decoration: none;
	color: blue;
	font-weight: bold;
	font-family: monospace;
	border-bottom: seagreen 0.125em solid;
}

nav a:hover {
	color: black;
	border-bottom: hotpink 0.125em solid;
	font-style: italic;
}

nav p {
	margin-bottom: 5px;
	font-weight: bold;
	color: darkgoldenrod;
}

#note {
	color: black;
	font-family: monospace;
	border: black 0.125em solid;
	background-color: white;
}

#clickable {
	font-size: 20px;
}

/* Filter Fun CSS Start Here */

canvas {
  border: 1px solid gray
}

#canvas {
	text-align: center;
}

#canvasdiv {
	text-align: center;
}

#filterfunh1 {
	margin-top: 10px;
	margin-bottom: 10px;
	text-align: center;
}

.filterfunp {
	margin-bottom: 15px;
	text-align: center;
}

input {
	margin-bottom: 28px;
}

#lastnote{
	text-align: center;
	border: 2px solid black;
	padding: 3px;
	margin: 3px;
}

.buttons {
 text-align: center;
  margin-top: 30px;
}

#load, #choose, #action {
  margin-bottom: 10px;
}

#Grayscale {
  background-color: black;
  color: Gray;
  font-weight: bold;
  font-size: 18px;
}

#RedFilter {
   background-color: red;
  color: black;
  font-weight: bold;
  font-size: 18px;
}

#RainbowFilter {
 background-image: linear-gradient(to right, red,orange,yellow,green,blue,indigo,violet);
  color: black;
  text-shadow: 2px 2px 4px white;
  font-size: 18px;
  font-weight: bold;
}

#BlurFilter {
   font-size: 18px;
  background-color: gray;
  color: white;
  font-weight: bold;
}

#BlurFilter:hover {
  color: transparent;
   text-shadow: 0 0 5px rgba(0,0,0,0.5);
  font-weight: bold;
}

#WindowFilter {
  font-size: 18px;
  background-color: skyblue;
  color: maroon;
  text-shadow: 2px 2px 4px white;
  font-weight: bold;
}

#finput, #download, #reset {
  font-size: 18px;
}

/* Filter Fun CSS Finish Here */